* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
    box-sizing: border-box;
}

.button {
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    transition-duration: 0.6s;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    color: #C29AF8;
}

.fieldset {
    border-color: transparent;
    padding: 5px;
    margin: 5px;
}

.flex-container {
    width: fit-content;
    display: flex;
}

#caixa {
    border-color: transparent;
}

#nome {
    width: fit-content;
    position: absolute;
    top: 15%;
    left: 5%;
    border-color: transparent;
}

h1 {
    margin-bottom: 1rem;
}

button {
    padding: .6rem 1.2rem;
    background-color: lightgrey;
    color: white;
    border: transparent;
    border-radius: .50rem;
    cursor: pointer;
    opacity: .6;
    font-size: 1rem;
}

button:hover {
    opacity: 1;
    transition-duration: .7s;
}

#open-modal {
    background-color: green;
}

#fade {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 10;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    border-radius: .7rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
}

body {
    padding: 1rem;
}