* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
    box-sizing: border-box;
}

:root {
    --hue: 276.9;
    --main:hsla(var(--hue), 100%, 30%);
    --mainDark: hsla(var(--hue), 100%, 9%);
    --mainlight: hsla(var(--hue), 100%, 9%, 0.8);
    --mainHover: hsl(var(--hue), 50%, 30%);
    --robotoMono: 'Roboto Mono', monospace;
}

#nome {
    width: fit-content;
    padding: 2rem;
    border-color: transparent;
}

.modal {
    display: none;/* Hidden by default */
    position: fixed;/* Stay in place */
    z-index: 1;/* Sit on top */
    padding-top: 100px;/* Location of the box */
    left: 0;
    top: 0;
    width: 100%;/* Full width */
    height: 100%;/* Full height */
    overflow: auto;/* Enable scroll if needed */
    background-color: rgba(0, 0, 0);/* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);/* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    width: 70%;
    border-radius: .7rem;
}

.modal-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.close, .close2, .close3, .close4 {
    color: var(--main);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close4:hover,
.close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.equitarismTitle, .columbiaTitle, .rocketTitle, .niaTitle {
    text-align: center;
    margin-left: 20px;
    font-size: 1.5em;
    color: var(--main);
}

.listalinks{
    list-style: none;
    margin-bottom: 16px;
}

.listalinks .itenslinks{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    margin-bottom: 16px;
    background-color: var(--main);
    
    transition: var(--main).2s;
}

.itenslinks:hover{
    background-color: var(--mainHover);
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.button{
    width: 300px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: #C29AF8;
}

button {
    padding: .6rem 1.2rem;
    background-color: lightgrey;
    color: white;
    border: transparent;
    border-radius: .50rem;
    cursor: pointer;
    opacity: 1;
    font-size: 1rem;
}

button:hover {
    opacity: .6;
    transition-duration: .5s;
}

.button {
    width: 300px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button:hover {
    color: #C29AF8;
    opacity: .6;
    transition-duration: .5s;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 1;
}
  
.topnav a:hover {
    opacity: .6;
    transition-duration: .6s;
}
  
.topnav a.active {
    background-color: transparent;
    color: #C29AF8;
}
  
.topnav .icon {
    display: none;
    opacity: 1;
    height: 3px;
    width: 3px;
    right: 0%;
    float: right;
    padding: 10rem;
}

body {
    padding: 1rem;
    background-color: black;
    max-height: 100%;
    max-width: 100%;
}

body .listalinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {display: none;}
    .topnav a.icon {
        float: right;
        right: 0%;
        height: 3px;
        width: 3px;
        display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }