* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.button {
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    transition-duration: 0.6s;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    color: #C29AF8;
}

.fieldset {
    border-color: transparent;
    padding: 5px;
    margin: 5px;
}

#caixa {
    border-color: transparent;
}

#nome {
    width: fit-content;
    position: absolute;
    top: 45%;
    left: 25%;
    border-color: transparent;
}

#eu {
    width: 400px;
    border-radius: 5%;
}

#foto {
    border-color: transparent;
    position: absolute;
    top: 15%;
    left: 60%
}

body {
    background-color: #040108;
}