.flex-container {
    display: flex;
}

.button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    transition-duration: 0.6s;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #E2A3F5;
}

.fieldset {
    border-color: transparent;
}

.fieldset:hover {
    box-shadow: 2px 2px 4px #9D00F5;
    transition-duration: 0.6s;
}

#caixa {
    border-color: transparent;
}

#nome {
    width: fit-content;
    position: absolute;
    top: 45%;
    left: 25%;
    border-color: transparent;
}

body {
    background-color: black;
}