* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
}

.button {
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    transition-duration: 0.6s;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    color: #C29AF8;
}

.fieldset {
    border-color: transparent;
    padding: 5px;
    margin: 5px;
}

.fieldset:hover {
    box-shadow: 0px 2px #9D00F5;
    transition-duration: 0.6s;
}

.flex-container {
    width: fit-content;
    display: flex;
}

#caixa {
    border-color: transparent;
}

#nome {
    width: fit-content;
    position: absolute;
    top: 15%;
    left: 5%;
    border-color: transparent;
}

#about {
    width: 50%;
    margin: auto;
    position: relative;
    top: 150px;
    background-color: darkgray;
    border-radius: 20px;
    border-color: transparent;
    text-align: center;
}

#eu {
    border-style: solid;
    border-color: #9D00F5;
    border-radius: 100%;
    border-width: 2px;
    width: 125px;
}